<h1>Clientes</h1>
<hr>
<div class="d-flex"><a asp-action="ViewRegistrar" asp-controller="Cliente" class="btn btn-success">Agregar</a></div>
<table class="table table-light">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Cédula</th>
            <th>NIT</th>
            <th>Correo</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in ViewBag.Clientes)
        {
            <tr>
                <td>@p.IdCliente</td>
                <td>@p.Nombre</td>
                <td>@p.Dui</td>
                <td>@p.Nit</td>
                <td>@p.Correo</td>
                <td>
                    <a asp-action="Editar" asp-controller="Cliente" asp-route-id="@p.IdCliente">Editar</a>
                </td>
                <td>
                    <a asp-action="Eliminar" asp-controller="Cliente" asp-route-id="@p.IdCliente">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>